@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;

  position: relative;
  background: #4d7df0;
  display: flex;
}

#navbar {
  background: #ffc857;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#navbar .logo {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 30px 0 0 30px;
}

#navbar .logo img {
  width: 80px;
  margin-right: 15px;
}

#navbar .items {
  margin-top: 40px;
}

#navbar .items li {
  list-style: none;
  padding: 10px 0;
  transition: 0.3s ease;
}

#navbar .items li:hover {
  background: #263a59;
  cursor: pointer;
}

#navbar .items li:nth-child(1) {
  border-left: 4px solid #4d7df0;
}

#navbar .items li a {
  text-decoration: none;
  color: #000000;
  font-weight: 300px;
  transition: 0.3s ease;
}

#navbar .items li i {
  color: #000000;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  margin: 0 10px 0 25px;
}

#navbar .items li:hover i,
#navbar .items li:hover a {
  color: #fff;
}

#interface {
  width: calc(100% - 300px);
  margin-left: 300px;
  position: relative;
}

#interface .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #263a59;
  padding: 15px 30px;
  border-bottom: 3px solid #000000;
  position: fixed;
  width: calc(100% - 300px);
}

#interface .navigation .search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 14px;
  border: 1px solid #ffc857;
  border-radius: 4px;
}

#interface .navigation .search input {
  border: none;
  outline: none;
  font-size: 14px;
  background: #263a59;
  margin-left: 10px;
}

#interface .navigation .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#interface .navigation .profile i {
  margin-right: 20px;
  font-size: 19px;
  font-weight: 400;
}

#interface .navigation .profile img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.n1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#navbar-btn {
  display: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.i-name {
  color: #fff;
  padding: 30px 30px 0 30px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 70px;
}

.values {
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.values .val-box {
  background: #fff;
  width: 280px;
  padding: 16px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.values .val-box i {
  font-size: 25px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  margin-right: 15px;
}

.values .val-box:nth-child(1) i {
  background: #263a59;
}
.values .val-box:nth-child(2) i {
  background: #ffc857;
  color: #000000;
}
.values .val-box:nth-child(3) i {
  background: #263a59;
}

.values .val-box h3 {
  font-size: 18px;
  font-weight: 600;
}

.values .val-box span {
  font-size: 15px;
  color: #828997;
}

.board {
  width: 94%;
  margin: 30px 0 30px 30px;
  overflow: auto;
  background: #263a59;
  border-radius: 8px;
}

.board img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.board h5 {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.board p {
  font-weight: 400;
  font-size: 13px;
  color: #787d8d;
}

.board .people {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #000000;
}

thead td {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  background: #ffc857;
  text-align: start;
  padding: 15px;
}

tbody tr td {
  padding: 20px 15px;
}

.people-active p {
  background: #4d7df0;
  padding: 3px 10px;
  display: inline-block;
  border-radius: 40px;
  color: #fff;
}

.edit a {
  text-decoration: none;
  font-size: 14px;
  color: #ffc857;
  font-weight: 600;
}

.container {
  margin-top: 30px;
  padding: 30px 50px 50px 30px;
  display: flex;
  width: 500px;
  height: 500px;
  gap: 150px;
}

#chart {
  background: #003f5c;
  border-radius: 10px;
  padding: 20px;
}

#line {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 769px) {
  #menu {
    width: 270px;
    position: fixed;
    left: -270px;
    transition: 0.3s ease;
  }

  #navbar.active {
    left: 0px;
  }

  #navbar-btn {
    display: initial;
  }

  #interface {
    width: 100%;
    margin-left: 0px;
    display: inline-block;
    transition: 0.3s ease;
  }

  #navbar.active ~ #interface {
    width: calc(100% - 270px);
    margin-left: 270px;
    transition: 0.3s ease;
  }

  #interface .navigation {
    width: 100%;
  }

  .values {
    padding: 30px 0 30px 30px;
    justify-content: flex-start;
  }

  .values .val-box {
    padding: 16px 20px;
    margin: 10px 20px 10px 0;
  }

  .board {
    width: 92%;
    padding: 0;
    overflow-x: auto;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }
}
